In [24]:
import numpy as np
import pandas as pd

In [25]:
sales_data = pd.read_csv('/content/Amazon Sales Dataset .csv.csv', parse_dates=['DateKey','Invoice Date', 'Promised Delivery Date'])
sales_data

,CustKey,DateKey,Discount Amount,Invoice Date,Invoice Number,Item Class,Item Number,Item,Line Number,List Price,Order Number,Promised Delivery Date,Sales Amount,Sales Amount Based on List Price,Sales Cost Amount,Sales Margin Amount,Sales Price,Sales Quantity,Sales Rep,U/M
0,10026606,2019-12-31,15.7200,2019-12-31,329580,NaN,37559,Walrus Chardonnay,1000,0.3929,123307,2019-12-31,377.18,392.9000,340.10,37.08,0.377180,1000,114,EA
1,10005099,2019-12-31,22.5060,2019-12-31,329578,NaN,24790,Fast Lemon Cookies,1000,14.0679,123287,2019-12-31,540.21,562.7160,813.33,-273.12,13.505250,40,185,-
2,10026081,2019-12-31,26.2588,2019-12-31,329575,NaN,19857,Moms Cole Slaw,1000,27.3537,121967,2019-12-31,630.23,656.4888,421.22,209.01,26.259583,24,154,EA
3,10005099,2019-12-31,27.2495,2019-12-31,329577,NaN,30448,Washington Cranberry Juice,2000,12.3849,123284,2019-12-31,653.92,681.1695,540.05,113.87,11.889455,55,185,EA
4,10022687,2019-12-31,174.8600,2019-12-31,329617,P01,37170,Fast BBQ Potato Chips,22000,190.8500,123933,2019-12-31,206.84,381.7000,85.26,121.58,103.420000,2,113,EA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65277,10015824,2017-01-01,7037.6000,2017-01-01,119173,NaN,39906,Jeffers Wheat Puffs,1000,1759.4000,216700,2017-01-01,7037.60,14075.2000,4382.29,2655.31,879.700000,8,103,EA
65278,10021485,2017-01-01,13194.1017,2017-01-01,119093,P01,62055,Big Time Frozen Peas,3001,645.6303,216161,2017-01-02,11985.48,25179.5817,7291.92,4693.56,307.320000,39,141,EA
65279,10021485,2017-01-01,40297.3600,2017-01-01,119081,NaN,61465,Super Apple Butter,2000,384.5168,215919,2017-01-02,36606.00,76903.3600,18215.78,18390.22,183.030000,200,141,EA
65280,10021485,2017-01-01,59033.6600,2017-01-01,119089,NaN,63080,Landslide White Sugar,4000,563.2983,216153,2017-01-02,53626.00,112659.6600,27854.72,25771.28,268.130000,200,141,EA
65281,10021485,2017-01-01,100743.4000,2017-01-01,119092,NaN,35197,Moms Turkey Hot Dogs,12000,384.5168,216159,2017-01-02,91515.00,192258.4000,48692.25,42822.75,183.030000,500,141,EA

In [26]:
# Checking Shape of dataset
sales_data.shape

(65282, 20)

In [27]:
sales_data.columns

Index(['CustKey', 'DateKey', 'Discount Amount', 'Invoice Date',
       'Invoice Number', 'Item Class', 'Item Number', 'Item', 'Line Number',
       'List Price', 'Order Number', 'Promised Delivery Date', 'Sales Amount',
       'Sales Amount Based on List Price', 'Sales Cost Amount',
       'Sales Margin Amount', 'Sales Price', 'Sales Quantity', 'Sales Rep',
       'U/M'],
      dtype='object')

In [28]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65282 entries, 0 to 65281
Data columns (total 20 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   CustKey                           65282 non-null  int64
 1   DateKey                           65282 non-null  datetime64[ns]
 2   Discount Amount                   65280 non-null  float64
 3   Invoice Date                      65282 non-null  datetime64[ns]
 4   Invoice Number                    65282 non-null  int64
 5   Item Class                        56996 non-null  object
 6   Item Number                       65241 non-null  object
 7   Item                              65282 non-null  object
 8   Line Number                       65282 non-null  int64
 9   List Price                        65282 non-null  float64
 10  Order Number                      65282 non-null  int64
 11  Promised Delivery Date            65282 non-null  datetime64[ns]
 12  Sales Amount                      65282 non-null  float64
 13  Sales Amount Based on List Price  65282 non-null  float64
 14  Sales Cost Amount                 65282 non-null  float64
 15  Sales Margin Amount               65282 non-null  float64
 16  Sales Price                       65281 non-null  float64
 17  Sales Quantity                    65282 non-null  int64
 18  Sales Rep                         65282 non-null  int64
 19  U/M                               65282 non-null  object
dtypes: datetime64[ns](3), float64(7), int64(6), object(4)
memory usage: 10.0+ MB

In [29]:
# Checking no. of Null Values
sales_data.isnull().sum()

CustKey                                0
DateKey                                0
Discount Amount                        2
Invoice Date                           0
Invoice Number                         0
Item Class                          8286
Item Number                           41
Item                                   0
Line Number                            0
List Price                             0
Order Number                           0
Promised Delivery Date                 0
Sales Amount                           0
Sales Amount Based on List Price       0
Sales Cost Amount                      0
Sales Margin Amount                    0
Sales Price                            1
Sales Quantity                         0
Sales Rep                              0
U/M                                    0
dtype: int64

In [13]:
sales_data01 = sales_data.copy()

In [30]:
sales_data01['Item Class'].value_counts()

P01    56966
PO1       16
P02        1
P12        1
P13        1
P06        1
P15        1
P11        1
P08        1
P07        1
P10        1
P09        1
P14        1
P04        1
Name: Item Class, dtype: int64

In [31]:
# Removing Null Values
sales_data01.dropna(subset=['Discount Amount','Sales Price', 'Item Number'],inplace=True)

In [17]:
# Generating descriptive statistics
sales_data01.describe()

,CustKey,Discount Amount,Invoice Number,Line Number,List Price,Order Number,Sales Amount,Sales Amount Based on List Price,Sales Cost Amount,Sales Margin Amount,Sales Price,Sales Quantity,Sales Rep
count,6.524100e+04,65241.000000,65241.000000,65241.000000,65241.000000,65241.000000,65241.000000,65241.000000,65241.000000,65241.000000,65241.000000,65241.000000,65241.000000
mean,1.001770e+07,1857.310923,216292.785242,23725.043178,515.016834,180567.610122,2853.121051,4710.431974,1662.023052,1191.097999,283.250283,45.106712,137.421422
std,7.175846e+03,9039.535784,94982.018695,32669.565014,449.144896,67612.238675,15169.020896,20702.609533,9559.396917,5862.566647,250.448615,429.793733,26.644271
min,1.000045e+07,-255820.800000,100034.000000,1000.000000,0.000000,100838.000000,200.010000,0.000000,0.000000,-3932.930000,0.337341,1.000000,103.000000
25%,1.001272e+07,246.280000,117969.000000,3000.000000,181.560000,115281.000000,308.310000,561.040000,167.810000,129.890000,100.030000,2.000000,113.000000
50%,1.001966e+07,442.200000,222904.000000,12000.000000,325.190000,203695.000000,553.940000,999.750000,304.580000,246.480000,183.282857,3.000000,134.000000
75%,1.002351e+07,1001.500000,314325.000000,32000.000000,803.860000,218576.000000,1279.750000,2321.400000,688.550000,578.220000,448.220000,8.000000,160.000000
max,1.002758e+07,343532.660000,332842.000000,344000.000000,2760.700000,321532.000000,555376.000000,632610.160000,366576.000000,188800.000000,6035.000000,16000.000000,185.000000

In [18]:
# Creating Year, Month, Quarter, Day Columns in Sales_data01
sales_data01['Invoice_Year'] = sales_data['Invoice Date'].dt.year
sales_data01['Invoice_Month'] = sales_data['Invoice Date'].dt.month
sales_data01['Invoice_Quarter'] = sales_data['Invoice Date'].dt.quarter
sales_data01['Invoice_Day'] = sales_data['Invoice Date'].dt.day

In [20]:
sales_data01.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 65241 entries, 0 to 65281
Data columns (total 24 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   CustKey                           65241 non-null  int64
 1   DateKey                           65241 non-null  datetime64[ns]
 2   Discount Amount                   65241 non-null  float64
 3   Invoice Date                      65241 non-null  datetime64[ns]
 4   Invoice Number                    65241 non-null  int64
 5   Item Class                        56994 non-null  object
 6   Item Number                       65241 non-null  object
 7   Item                              65241 non-null  object
 8   Line Number                       65241 non-null  int64
 9   List Price                        65241 non-null  float64
 10  Order Number                      65241 non-null  int64
 11  Promised Delivery Date            65241 non-null  datetime64[ns]
 12  Sales Amount                      65241 non-null  float64
 13  Sales Amount Based on List Price  65241 non-null  float64
 14  Sales Cost Amount                 65241 non-null  float64
 15  Sales Margin Amount               65241 non-null  float64
 16  Sales Price                       65241 non-null  float64
 17  Sales Quantity                    65241 non-null  int64
 18  Sales Rep                         65241 non-null  int64
 19  U/M                               65241 non-null  object
 20  Invoice_Year                      65241 non-null  int64
 21  Invoice_Month                     65241 non-null  int64
 22  Invoice_Quarter                   65241 non-null  int64
 23  Invoice_Day                       65241 non-null  int64
dtypes: datetime64[ns](3), float64(7), int64(10), object(4)
memory usage: 12.4+ MB

In [21]:
sales_data01

,CustKey,DateKey,Discount Amount,Invoice Date,Invoice Number,Item Class,Item Number,Item,Line Number,List Price,...,Sales Cost Amount,Sales Margin Amount,Sales Price,Sales Quantity,Sales Rep,U/M,Invoice_Year,Invoice_Month,Invoice_Quarter,Invoice_Day
0,10026606,2019-12-31,15.7200,2019-12-31,329580,NaN,37559,Walrus Chardonnay,1000,0.3929,...,340.10,37.08,0.377180,1000,114,EA,2019,12,4,31
1,10005099,2019-12-31,22.5060,2019-12-31,329578,NaN,24790,Fast Lemon Cookies,1000,14.0679,...,813.33,-273.12,13.505250,40,185,-,2019,12,4,31
2,10026081,2019-12-31,26.2588,2019-12-31,329575,NaN,19857,Moms Cole Slaw,1000,27.3537,...,421.22,209.01,26.259583,24,154,EA,2019,12,4,31
3,10005099,2019-12-31,27.2495,2019-12-31,329577,NaN,30448,Washington Cranberry Juice,2000,12.3849,...,540.05,113.87,11.889455,55,185,EA,2019,12,4,31
4,10022687,2019-12-31,174.8600,2019-12-31,329617,P01,37170,Fast BBQ Potato Chips,22000,190.8500,...,85.26,121.58,103.420000,2,113,EA,2019,12,4,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65277,10015824,2017-01-01,7037.6000,2017-01-01,119173,NaN,39906,Jeffers Wheat Puffs,1000,1759.4000,...,4382.29,2655.31,879.700000,8,103,EA,2017,1,1,1
65278,10021485,2017-01-01,13194.1017,2017-01-01,119093,P01,62055,Big Time Frozen Peas,3001,645.6303,...,7291.92,4693.56,307.320000,39,141,EA,2017,1,1,1
65279,10021485,2017-01-01,40297.3600,2017-01-01,119081,NaN,61465,Super Apple Butter,2000,384.5168,...,18215.78,18390.22,183.030000,200,141,EA,2017,1,1,1
65280,10021485,2017-01-01,59033.6600,2017-01-01,119089,NaN,63080,Landslide White Sugar,4000,563.2983,...,27854.72,25771.28,268.130000,200,141,EA,2017,1,1,1
65281,10021485,2017-01-01,100743.4000,2017-01-01,119092,NaN,35197,Moms Turkey Hot Dogs,12000,384.5168,...,48692.25,42822.75,183.030000,500,141,EA,2017,1,1,1

In [36]:
# Creating DataFrame only with neccessary values.
sales_data02 = sales_data01[['CustKey','Item','Invoice_Year','Invoice_Quarter', 'Invoice_Month',
                           'Invoice_Day', 'Sales Quantity','Discount Amount',
                           'Sales Amount','Sales Cost Amount',
                           'Sales Price']]

In [37]:
sales_data02

,CustKey,Item,Invoice_Year,Invoice_Quarter,Invoice_Month,Invoice_Day,Sales Quantity,Discount Amount,Sales Amount,Sales Cost Amount,Sales Price
0,10026606,Walrus Chardonnay,2019,4,12,31,1000,15.7200,377.18,340.10,0.377180
1,10005099,Fast Lemon Cookies,2019,4,12,31,40,22.5060,540.21,813.33,13.505250
2,10026081,Moms Cole Slaw,2019,4,12,31,24,26.2588,630.23,421.22,26.259583
3,10005099,Washington Cranberry Juice,2019,4,12,31,55,27.2495,653.92,540.05,11.889455
4,10022687,Fast BBQ Potato Chips,2019,4,12,31,2,174.8600,206.84,85.26,103.420000
...,...,...,...,...,...,...,...,...,...,...,...
65277,10015824,Jeffers Wheat Puffs,2017,1,1,1,8,7037.6000,7037.60,4382.29,879.700000
65278,10021485,Big Time Frozen Peas,2017,1,1,1,39,13194.1017,11985.48,7291.92,307.320000
65279,10021485,Super Apple Butter,2017,1,1,1,200,40297.3600,36606.00,18215.78,183.030000
65280,10021485,Landslide White Sugar,2017,1,1,1,200,59033.6600,53626.00,27854.72,268.130000
65281,10021485,Moms Turkey Hot Dogs,2017,1,1,1,500,100743.4000,91515.00,48692.25,183.030000

In [38]:
sales_data02.info

<bound method DataFrame.info of         CustKey                        Item  Invoice_Year  Invoice_Quarter  \
0      10026606           Walrus Chardonnay          2019                4
1      10005099          Fast Lemon Cookies          2019                4
2      10026081              Moms Cole Slaw          2019                4
3      10005099  Washington Cranberry Juice          2019                4
4      10022687       Fast BBQ Potato Chips          2019                4
...         ...                         ...           ...              ...
65277  10015824         Jeffers Wheat Puffs          2017                1
65278  10021485        Big Time Frozen Peas          2017                1
65279  10021485          Super Apple Butter          2017                1
65280  10021485       Landslide White Sugar          2017                1
65281  10021485        Moms Turkey Hot Dogs          2017                1

       Invoice_Month  Invoice_Day  Sales Quantity  Discount Amount  \
0                 12           31            1000          15.7200
1                 12           31              40          22.5060
2                 12           31              24          26.2588
3                 12           31              55          27.2495
4                 12           31               2         174.8600
...              ...          ...             ...              ...
65277              1            1               8        7037.6000
65278              1            1              39       13194.1017
65279              1            1             200       40297.3600
65280              1            1             200       59033.6600
65281              1            1             500      100743.4000

       Sales Amount  Sales Cost Amount  Sales Price
0            377.18             340.10     0.377180
1            540.21             813.33    13.505250
2            630.23             421.22    26.259583
3            653.92             540.05    11.889455
4            206.84              85.26   103.420000
...             ...                ...          ...
65277       7037.60            4382.29   879.700000
65278      11985.48            7291.92   307.320000
65279      36606.00           18215.78   183.030000
65280      53626.00           27854.72   268.130000
65281      91515.00           48692.25   183.030000

[65241 rows x 11 columns]>

In [39]:
sales_data02.shape

(65241, 11)